* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
p {
    color: white;
}
body {
    display: flex;
    justify-content:center;
    margin-top: 30px;
    background-color: #E2E2E2;
}
.mobile-ui {
    height: 80vh;
    width: 20%;
    background: url(./Images/Background.jpg);
    background-position: center;
    background-size: contain;
    border-radius: 30px;
    margin-right: 50px;
    box-shadow: 0px 0px 40px black;
}
.contents {
    width: 90%;
    height: 80vh;
    margin: auto;
}
.notification-bar {
    margin: 7px 0px;
    height: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: white;
}
.notification-bar p {
    font-size: 12px;
}
.google-widget {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    background: white;
    padding: 5px 10px;
}
.google-widget .mike {
    height: 15px;
    margin: 0px 10px;
}
.google-widget .lens {
    height: 17px;
}
.timewidget {
    margin-top: 30px;
    text-align: center;
}
.timewidget p {
    font-size: 10px;
}
.timewidget h3 {
    font-size: 30px;
    font-weight: 100;
    color: white;
}
.apps {
    margin-top: 160px;
    height: 120px;
}
.apps .line1 {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    margin: 0px 10px;
    margin-bottom: 20px;
}
.apps .app1 {
    color: blue;
}
.apps .app2 {
    color: white;
}
.apps .line1 .iconify {
    font-size: 35px;
}
.apps .line1 .app2 .iconify{
    font-size: 30px;
    background: gainsboro;
    color:darkorange;
    padding: 2px;
    border-radius: 50%;
}
.apps .app1 p {
    margin: 0px -5px;
}
.apps .line2 {
    display: flex;
    justify-content: space-around;
    font-size: 10px;
}
.apps .line2 .iconify {
    font-size: 30px;
}
.apps .app3 p {
    margin: 0px -3px;
}
.apps .line2 .app3 .iconify{
    font-size: 30px;
    background: white;
    padding: 5px;
    border-radius: 50%;
}
.apps .line2 .app4 {
    color:crimson;
    margin: -5px 0px;
}
.apps .line2 .app4 .iconify {
    font-size: 35px;
}
.apps .app5 p {
    margin: 0px -5px;
}
.apps .line2 .app5 {
    color: white;
}
.apps .line2 .app5 .iconify{
    font-size: 30px;
    background: #5BD6AC;
    color: white;
    padding: 5px;
    border-radius: 50%;
}
.apps .line2 .app6 .iconify{
    font-size: 30px;
    background: white;
    color: tomato;
    padding: 3px;
    border-radius: 50%;
}
.apps .app6 p {
    margin: 0px -2px;
}
.apps .line2 .app7 .iconify{
    font-size: 30px;
    background: white;
    color:darkmagenta;
    padding: 3px;
    border-radius: 50%;
}
.apps .app7 p {
    margin: 0px -5px;
}
.fixed {
    margin-top: 20px;
    height: 50px;
    font-size: 30px;
}
.fixed .line{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.fixed .line .app8 .iconify{
    font-size: 30px;
    background: #68C04F;
    color: white;
    padding: 5px;
    border-radius: 50%;
}
.fixed .line .app9 .iconify {
    font-size: 33px;
}
.fixed .line .app11 .iconify {
    color: #4369FA;
    font-size: 33px;
}
.fixed .line .app12 .iconify{
    font-size: 30px;
    background: white;
    color:mediumvioletred;
    padding: 2px;
    border-radius: 50%;
}
.btn {
    display: flex;
    justify-content: space-around;
    height: 15px;
    font-size: 13px;
    color: white;
    margin-top: 10px;
}
.btn-icon3 {
    font-size: 10px;
}
/* mobile ui 2  */
.mobile-ui2 {
    height: 80vh;
    width: 20%;
    background: url(./Images/Background1.png);
    background-position: center;
    background-size: contain;
    border-radius: 30px;
    margin-top: 40px;
    box-shadow: 0px 0px 40px black;
}
.searchbox {
    margin-top: 15px;
    padding: 5px 10px;
    color: white;
    display: flex;
    flex-direction: column;
}
.searchbox .box {
    display: flex;
}
.searchbox .box .iconify {
    font-size: 20px;
    font-weight: 100;
}
.searchbox .box p {
    font-size: 10px;
    padding-top: 3px;
    font-weight: 600;
    padding-left: 5px;
}
.searchbox .box-line {
    margin-top: 4px;
    height: 0.1px;
    width: 100%;
    background-color: gainsboro;
}
.recommended-apps {
    color: white;
    height: 80px;
    margin-top: 10px;
    font-size: 30px;
}
.recommended-apps p {
    font-size: 10px;
    margin: 0px -10px;
}
.recommended-apps .scrollbar {
    height: 35px;
    width: 7px;
    position: absolute;
    right: 387px;
    border-radius: 15px;
    background-color: #4369FA;
}
.recommended-apps .line1 {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 700;
    margin: 0px 15px;
    margin-bottom: 10px;
}
.recommended-apps .line2 {
    display: flex;
    justify-content: space-around;
    /* height: 45%; */
}
.recommended-apps .line2 .app1 .iconify{
    font-size: 30px;
    color: white;
    background:#52A921;
    padding: 3px;
    border-radius: 50%;
}
.recommended-apps .line2 .app2 {
    background: white;
    height: 30px;
    width: 35px;
    border-radius: 50%;
}
.recommended-apps .line2 .app2 .iconify{
    font-size: 15px;
    top: -5px;
    left: 7px;
    position: relative;
}
.recommended-apps .line2 .app3 .iconify{
    font-size: 30px;
    background: white;
    padding: 3px;
    border-radius: 50%;
}
.recommended-apps .line2 .app4.iconify{
    font-size: 30px;
    background: white;
    padding: 3px;
    border-radius: 50%;
}
.recommended-apps .line2 .app5.iconify{
    font-size: 30px;
}
.recommended-apps .line2 .app2 p{
    font-size: 10px;
    margin: 3px -2px;
}
.recommended-apps .line2 .app3 p{
    font-size: 10px;
    margin: 0px 4px;
}
.recommended-apps .line2 .app4 p{
    font-size: 10px;
    margin: 2px 0px;
}
.recommended-apps .line2 .app5 p{
    font-size: 10px;
    margin-left: -5px;
    margin-top: 2px;
}
.all-apps {
    height: 62%;
    /* background-color: red; */
    margin-top: 15px;
    color: white;
    font-size: 30px;
}
.all-apps p {
    font-size: 10px;
    margin: 0px -10px;
}
.all-apps .line1 {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    margin: 0px 15px;
    margin-bottom: 10px;
}
.all-apps .line2 {
    display: flex;
    justify-content: space-around;
    font-size: 35px;
    margin: 0px 0px 15px 0px;
}
.all-apps .line2 .app1 {
    color: #4369FA;
}
.all-apps .line2 .app1 p {
    font-size: 10px;
    margin: 0px;
    margin-top: -7px;   
}
.all-apps .line2 .app2 {
    font-size: 35px;
    color:saddlebrown;
}
.all-apps .line2 .app2 p {
    font-size: 10px;
    margin: 0px;
    margin-top: -7px;   
}
.all-apps .line2 .app3 .iconify{
    font-size: 30px;
    background: white;
    color:darkmagenta;
    padding: 3px;
    border-radius: 50%;
}
.all-apps .line2 .app3 p {
    font-size: 10px;
    margin: -2px -2px;
}
.all-apps .line2 .app4 .iconify{
    font-size: 30px;
    background: white;
    color: red;
    padding: 3px;
    border-radius: 50%;
}
.all-apps .line2 .app4 p {
    font-size: 10px;
    margin: -2px -5px;
}
.all-apps .line2 .app5 .iconify{
    font-size: 30px;
    background: white;
    padding: 3px;
    border-radius: 50%;
}
.all-apps .line2 .app5 p {
    font-size: 10px;
    margin: -2px -2px;
}
.all-apps .line3 {
    display: flex;
    justify-content: space-around;
    font-size: 35px;
    margin-bottom: 15px;
}
.all-apps .line3 .app6 .iconify{
    font-size: 30px;
    background: white;
    color:darkmagenta;
    padding: 2px;
    border-radius: 50%;
}
.all-apps .line3 .app6 p {
    font-size: 10px;
    margin: 0px;
}
.all-apps .line3 .app7 .iconify{
    font-size: 30px;
}
.all-apps .line3 .app7 p {
    font-size: 10px;
    margin: 0px;
}
.all-apps .line3 .app8 .iconify{
    font-size: 33px;
}
.all-apps .line3 .app8 p {
    font-size: 10px;
    margin: -1px 3px;
}
.all-apps .line3 .app9 .iconify{
    font-size: 33px;
}
.all-apps .line3 .app9 p {
    font-size: 10px;
    margin: -1px -4px;
}
.all-apps .line3 .app10 .iconify{
    font-size: 32px;
    background: blue;
    color:white;
    padding: 4px;
    border-radius: 50%;
}
.all-apps .line3 .app10 p {
    font-size: 10px;
    margin: 0px -4px;
}
.all-apps .line4 {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    margin-bottom: 15px;
}
.all-apps .line4 .app11 .iconify{
    font-size: 30px;
    background: #5464EE;
    color:white;
    padding: 4px;
    border-radius: 50%;
}
.all-apps .line4 .app11 p {
    font-size: 10px;
    margin: 0px 1px;
}
.all-apps .line4 .app12 {
    background: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.all-apps .line4 .app12 .iconify{
    font-size: 25px;
    top: 0px;
    left: 1px;
    position: relative;
    padding: 2px;
}
.all-apps .line4 .app12 p {
    font-size: 10px;
    margin: 4px 4px;
}
.all-apps .line4 .app13 .iconify {
    font-size: 30px;
}
.all-apps .line4 .app13 p {
    font-size: 10px;
    margin: 0px -5px;
}
.all-apps .line4 .app14 .iconify{
    font-size: 30px;
    background: white;
    color:white;
    padding: 1px;
    border-radius: 50%;
}
.all-apps .line4 .app14 p {
    font-size: 10px;
    margin: 0px 4px;
}
.all-apps .line4 .app15 {
    height: 30px;
    background: white;
    width: 30px;
    border-radius: 50%;
}
.all-apps .line4 .app15 .iconify{
    font-size: 25px;
    top: 0px;
    left: 1px;
    position: relative;
    padding: 3px;
}
.all-apps .line4 .app15 p {
    font-size: 10px;
    margin: 2px 4px;
}
.all-apps .line5 {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    margin-bottom: 15px;
}
.all-apps .line5 .app16 {
    height: 30px;
    background: #0277CD;
    width: 30px;
    border-radius: 50%;
}
.all-apps .line5 .app16 .iconify{
    font-size: 28px;
    top: 0px;
    left: 1px;
    position: relative;
    padding: 3px;
}
.all-apps .line5 .app16 p {
    font-size: 10px;
    margin: 4px 0px;
}
.all-apps .line5 .app17 .iconify{
    font-size: 30px;
    background: white;
    color:white;
    padding: 1px;
    border-radius: 50%;
}
.all-apps .line5 .app17 p {
    font-size: 10px;
    margin: 2px 0px;
}
.all-apps .line5 .app18 .iconify{
    font-size: 33px;
    color: white;
    background:#52A921;
    padding: 3px;
    border-radius: 50%;
}
.all-apps .line5 .app18 p {
    font-size: 10px;
    margin: 0px 0px;
}
.all-apps .line5 .app19 {
    background: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.all-apps .line5 .app19 .iconify{
    font-size: 25px;
    top: 0px;
    left: -1px;
    position: relative;
    padding: 4px;
}
.all-apps .line5 .app19 p {
    font-size: 10px;
    margin: 4px 0px;
}
.all-apps .line5 .app20 {
    background: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.all-apps .line5 .app20 .iconify{
    font-size: 25px;
    top: 0px;
    left: -1px;
    position: relative;
    padding: 2px;
}
.all-apps .line5 .app20 p {
    font-size: 10px;
    margin: 4px 2px;
}
.all-apps .line6 {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    margin-bottom: 10px;   
}
.all-apps .line6 .app21 {
    color: white;
}
.all-apps .line6 .app21 .iconify{
    font-size: 30px;
    background: #5BD6AC;
    padding: 5px;
    color: white;
    border-radius: 50%;
}
.all-apps .line6 .app21 p {
    font-size: 10px;
    margin: -2px -3px;
}
.all-apps .line6 .app22 {
    height: 30px;
    background: #144679;
    width: 30px;
    border-radius: 50%;
}
.all-apps .line6 .app22 .iconify{
    font-size: 25px;
    top: 0px;
    left: 3px;
    position: relative;
    padding: 3px;
}
.all-apps .line6 .app22 p {
    font-size: 10px;
    margin: 1px -3px;
}
.all-apps .line6 .app23 {
    height: 30px;
    background: white;
    width: 30px;
    border-radius: 50%;
}
.all-apps .line6 .app23 .iconify{
    font-size: 28px;
    top: 1px;
    left: 5px;
    position: relative;
    padding: 1px;
}
.all-apps .line6 .app23 p {
    font-size: 10px;
    margin: 1px 2px;
}
.all-apps .line6 .app24 {
    height: 30px;
    background: white;
    width: 30px;
    border-radius: 50%;
}
.all-apps .line6 .app24 .iconify{
    font-size: 22px;
    top: -2px;
    left: 2px;
    position: relative;
    padding: 2px;
}
.all-apps .line6 .app24 p {
    font-size: 10px;
    margin: 2px 2px;
}
.all-apps .line6 .app25 .iconify {
    font-size: 38px;
    margin-top: -5px;
}
.all-apps .line6 .app25 p {
    font-size: 10px;
    margin: -4px -2px;
}